<% if @conversations.size > 0 %>
    <% @conversations.each do |conversation| account = get_account_from_conversation(conversation)%>
        <%= profile_thumbnail account %>
        <strong><%= account.first_name%></strong>
        <%= conversation.messages.last.body %>
    <% end %>
<% else %>
        <p>No messajdhkjdfges to display.</p>
<% end %>