    <% @matches.each do |match| %>
        <div class="col-sm-4">
            <% if match.images.attached? %>
                <div class="match-tile rounded" data-id:"<% match.id %>" style="background-image: url('<%= url_for match.images.first %>')">

                </div>
            <% end %>
        </div>
    <% end %>
